<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<script>
    console.error('start alert');
    alert('alert');
</script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
  <script type="text/javascript">
   alert(returnCitySN["cip"]+' ，'+returnCitySN["cname"]);
  </script>
<script src="/javascripts/error.js"></script>
</body>
</html>