<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/bj-report.js"></script>
  </head>
  <body>
	<script>
		BJ_REPORT.init({
			id: 2,
			url: "http://test.badjs.oa.com:8081/badjs",
		})
	</script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/code/e401" alt="401">
    <img src="http://zjy11111.cp" alt="not">
    <img src="/code/e403" alt="403">
    <img src="/code/e404" alt="404">
    <img src="/code/e503" alt="503">
    <img src="/code/e500" alt="500">
    <iframe src="/code/e500">iframe</iframe>
    <iframe src="/test/">iframe - users</iframe>
	<!-- <iframe src="http://www.cnxiantao.com/shuju.php">iframe - users</iframe>
	<iframe src="https://www.baidu.com/">iframe - users</iframe>	 -->
    <script src="/code/index"></script>
    <script src="/javascripts/error.js"></script>
	<div id="write"></div>
	<script src="/javascripts/edit2.js"></script>
    <script src="/code/edit"></script>
  </body>
</html>
